<!DOCTYPE html>
<html>
  <head>
    <title>P Painterist</title>
    <%# <link rel="icon" href="/painterest_icon.png" type="image/jpg"> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script
      src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"
      data-auto-a11y="true"
    ></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
